<p align="center">
    <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/TeamCity_icon.png" width="64" height="64" alt="TeamCity logo" align="center"/>
  </p>

> [!CAUTION]
> <a href="https://danila.eu.ngrok.io/bs/build/7306">The Build</a> was <a href="https://danila.eu.ngrok.io/bs/build/7306?buildTab=log">failed</a> on TeamCity<br/>
> #### Reasons:
> * Process exited with code 1 (Step: tests (Gradle))
> * 2 failed tests detected
<br />
      <details>
        <summary>
10 tests done:
8 successful,
2 failed
(0 new failure(-s)),
0 ignored,
0 muted
        </summary>
               fail
            <br/>
               fail
            <br/>
      </details>

  <a href="https://danila.eu.ngrok.io/bs/build/7306?buildTab=tests">(see full tests report)</a>
